.dashboard-main{
    --aside-color:rgb(191,191,191);
    --aside-hover-color:rgb(180,232,254);
    --background-color:rgb(249, 249, 249);
    min-height: 100vh;
}
/************* NAVIGATION BAR *********************/
.nv-dashboard{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: white;
}
.nv-dashboard i{
   font-size: clamp(.5rem,2vw + 1rem,1.2rem);
}
.nv-dashboard .img-profile-wrapper{
    width: 50px;
    height: 50px;
}
.nv-dashboard h4{
    font-weight: 400;
    font-size: clamp(.5rem,2vw + 0.3rem,1.2rem);
}
/************* NAVIGATION ASIDE *******************/
.navigation-side{
    min-width: 15px;
    width: 20%;
    color: var(--aside-color);
    font-weight: 500;
}
.nav-btn {
    text-align: center;
    font-size: 15px;
    position: relative;
}
.nav-btn:hover{
    background-color: var(--aside-hover-color);
    color: blue;
    transition: all .3s ease;
}
.nav-btn:hover::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: blue;

}

.navigation-side i{
    font-size: 18px;
}
/************************** DASHBOARD *********************/
.dashboard{
    width: 80%;
    background-color: var(--background-color);
}
.box{
    width: 30%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.box .img-wrapper{
    height: 5.5rem;
}
.box .img-wrapper img{
    height: 100%;
    opacity: .6;
}
.box h1{
    font-weight: 800;
    letter-spacing: 1.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bg-box{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    width: 48%;
    height: 9rem;
}
/*======================= MEDIA QUERY ====================*/
@media only screen and (max-width:790px) {
    .navigation-side{
        width: 15%;
    }
    .dashboard{
        width: 85%;
    }
    .nav-btn {text-align: center;}
    .nav-btn i{
        font-size: 25px;
    }
    .navigation-side p {
        display: none;
    }
    .navigation-side button {
        padding: 8px calc(1vw + .5rem);
        font-size: 14px;

    }
    .box,.bg-box{
        width: 100%;
        margin: 10px;
    }
}
@media only screen and (max-width:400px){
    .navigation-side button {
        padding:5px 10px;
    }
    .avatar-container{
        width: 50px;
        height: 50px;
    }
}