.questionnaire-container{
    padding: 10px;
    background-color: var(--background-color-b);
    overflow-y: scroll;
    height: 50vh;
}
.questionnaire-container label{
    display: inline;
}
.questionnaire-container h3{
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: 1px;
}
.questionnaire-container input[type="text"],.questionnaire-container input[type="email"],.questionnaire-container input[type="password"]{
    padding: 10px 20px;
    border-radius: 10px;
    width: 90%;
    outline: none;
    border: 2px solid var(--primary-color);
    margin:10px ;
}