<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/dashboard-psy.css" />
    <!-- ------------------------------------    UNICONS CDN --------------------------- -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <title>Amane dashboard</title>
  </head>
  <body>
    <nav class="nv-dashboard flex justify-between align-center px-1">
      <div class="avatar-container">
        <img src="../assets/Logo.png" alt="" />
    </div>
    <div class="flex align-center">
        <i class="uil uil-comment-dots mx-1"></i>
        <i class="uil uil-bell "></i>
        <div class="profile flex justify-center align-center">
            <div class="avatar-container img-profile-wrapper center mx-1">
                <img src="../assets/profile.jpg" alt="">
            </div>
            <h4>David Beckham</h4>
        </div>
    </div>
    </nav>
    <main class="dashboard-main flex sp-nav">
        <aside class="navigation-side">
            <div class="navigation-btns my-1">
                <div class="nav-btn flex align-center justify-center p-1 py-2"><i class="uil uil-estate px-1"></i> <p>Home</p></div>
                <div class="nav-btn flex align-center justify-center p-1 py-2"><i class="uil uil-comparison px-1" ></i><p>My Sessions</p></div>
                <div class="nav-btn flex align-center justify-center p-1 py-2"><i class="uil uil-users-alt px-1"></i><p>My Patients</p></div>
                <div class="nav-btn flex align-center justify-center p-1 py-2"><i class="icon uil uil-headphones px-1"></i><p>Help center</p></div>
                <div class="nav-btn flex align-center justify-center p-1 py-2"><i class="uil uil-setting px-1"></i><p>Settings</p></div>
            </div>
            <button class="main-btn mx-auto flex align-center"><p class="px-1">Logout</p> <i class="uil uil-signout"></i></button>
        </aside>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ DASHBOARD ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <section class="dashboard flex-wrap p-1">
          <h2>Overview</h2>
          <div class="flex justify-around align-center m-gap md-flex-col">
            <div class="box mx-1 p-1 flex justify-between">
              <div>
                <span>Sessions</span>
                <h1 class="my-1">300 MAD</h1>
              </div>
              <div class="img-wrapper">
                <img src="../assets/images/session.png" alt="">
              </div>
            </div>
            
            <div class="box mx-1 p-1 flex justify-between">
              <div>
                <span>Nombre de seances</span>
                <h1 class="my-1">10</h1>
              </div>
              <div class="img-wrapper">
                <img src="../assets/images/task.png" alt="">
              </div>
            </div>
            
            <div class="box mx-1 p-1 flex justify-between">
              <div>
                <span>Balance</span>
                <h1 class="my-1">3000 MAD</h1>
              </div>
              <div class="img-wrapper">
                <img src="../assets/images/balance.png" alt="">
              </div>
            </div>
</div>
          <div class="m-gap flex justify-between align-center md-flex-col">
            <div class="bg-box mx-1 p-1">
              <span>mes sessions</span>
            </div>
            <div class="bg-box mx-1 p-1">
              <span>Les patientes</span>
              <h1 class="my-1">47</h1>
            </div>
          </div>
        </section>
    </main>
  </body>
</html>
