<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/dashboard-psy.css" />
    <!-- ------------------------------------    UNICONS CDN --------------------------- -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <title>Amane dashboard</title>
  </head>
  <body>
    <nav class="flex justify-between align-center ">
      <div class="avatar-container">
        <img src="../assets/Logo.png" alt="" />
    </div>
    <div class="flex align-center">
        <i class="uil uil-comment-dots"></i>
        <i class="uil uil-bell"></i>
        <div class="profile flex justify-center align-center">
            <div class="avatar-container center mx-1">
                <img src="../assets/profile.jpg" alt="">
            </div>
            <h4>David Beckham <i class="uil uil-angle-right-b"></i></h4>
        </div>
    </div>
    </nav>
    <main class="flex">
        <aside class="navigation-side">
            <div class="navigation-btns">
                <div class="nav-btn my-1"><i class="uil uil-estate px-1"></i> Home</div>
                <div class="nav-btn my-1"><i class="uil uil-comparison px-1" ></i>My Sessions</div>
                <div class="nav-btn my-1"><i class="uil uil-users-alt px-1"></i>My Patients</div>
                <div class="nav-btn my-1"><i class="uil uil-users-alt px-1"></i>Help center</div>
                <div class="nav-btn my-1"><i class="uil uil-setting px-1"></i>Settings</div>
            </div>
        </aside>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ DASHBOARD ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <section class="dashboard">

        </section>
    </main>
  </body>
</html>
