<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="">
                                    <!-- THIS IS THE CARD  -->
       <div class="container center">
            <div class="flex justify-center align-center p-1 px-2 my-1" style="
            background-color: var(--background-color-a);
            border-radius: 10px;
            width: fit-content;
            ">
                <div class="avatar-container"><img src="../assets/profile.jpg" alt="profile de psychologue"></div>
                <div class="mx-2">
                    <h1 style="font-size:1.5rem">David bickham</h1>
                    <span style="font-size:.9rem">football player</span>
                </div>
                <div><button class="main-btn">match</button></div>
            </div>
       </div>
    </div>
</body>
</html>