<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/welcome.css" />
    <link rel="stylesheet" href="../css/psy-profile.css">
    <!-- ------------------------------------    UNICONS CDN --------------------------- -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>psy profile</title>
</head>
<body>
    <!-- ------------------------------------- NAVBAR ------------------------------------- -->

    <nav class="flex justify-between align-center nav-scrolled profile-nav">
        <div class="avatar-container">
          <img src="../assets/Logo.png" alt="amane logo" />
        </div>
        <div class="flex align-center mb-flex-rev">
          <i class="uil uil-apps hidden" id="menu"></i>
          <ul class="navigation p-1">
            <li class="p-1 mx-2"><a href="#"></a><div class="hidden"><i class="icon uil uil-estate"></i></div>
                Accueil
                </a></li>
            
              <li class="p-1 mx-2"><a href="#">
                <div class="hidden">
                  <i class="icon uil uil-info-circle"></i>
                </div>
                A propos
              </a ></li>

            <li class="p-1 mx-2"><a href="#"></a>
                <div class="hidden">
                  <i class="icon uil uil-comment-question"></i>
                </div>
                FAQ
              </a> </li>

            <li class="p-1 mx-2"><a href="#"></a>
                <div class="hidden">
                  <i class="icon uil uil-comment-alt-heart"></i>
                </div>
                how it works
              </a></li>
            <li class="p-1 mx-2"><a href="#"></a>
                <div class="hidden">
                  <i class="icon uil uil-headphones"></i>
                </div>
                Support
              </a> </li>
          </ul>
          <button class="main-btn">commacer</button>
        </div>
      </nav>

      <!-- PSYCHOLOGUE PROFILE  -->
        <div class="psy-profile sp-nav ">
            <div class="container">
                <div class="accept-psy flex justify-between align-center my-2">
                    <div class="avatar-container">
                        <img src="../assets/profile.jpg" alt="profile photo">
                    </div>
                    <button>accept</button>
                </div>
                <div class="psy-details">
                    <!-- BIOGRAPHY GOES HERE -->
                    <div class="psy-bio">
                        <h3>David Beckham</h3>
                        <span class="my-1">football player</span>
                        <h2 class="my-1">Biography</h2>
                        <p class="my-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae id eum atque ullam earum veniam possimus beatae consequuntur! Modi minus nam magnam omnis aut quos distinctio vel sequi, et neque iure similique cumque, eius suscipit totam commodi veniam delectus iusto nisi odio? Architecto consectetur autem velit reprehenderit qui sapiente molestias, eius optio quaerat temporibus soluta minima deleniti iste ipsa nihil molestiae deserunt sint veniam distinctio facere nemo cupiditate sed amet obcaecati. Consectetur nesciunt temporibus, magni, magnam repellendus ducimus odio non doloribus quaerat facilis provident tempore quidem? Ut porro magnam officia asperiores consectetur consequuntur quod hic minima dicta? Obcaecati, sed sunt.</p>
                        <h2 class="my-1">Expérience professionnelle</h2>
                        <p class="my-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, libero nisi tenetur unde molestias quisquam provident! Non, obcaecati reiciendis autem provident, dolor, quo fuga eveniet molestiae in quasi error amet?</p>
                        <div class="tarifs my-2">
                            Accompagnement psychologique <br> 300Dhs 
                        </div>
                    </div>
                </div>
            </div>
        </div>


      <script src="../js/main.js"></script>
</body>
</html>