<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/psy-dashboard.css">
    <title>Document</title>
</head>
<body>
    <section class="dashboard flex-wrap p-1">
        <h2>Overview</h2>
        <div class="flex justify-around align-center m-gap md-flex-col">
          <div class="box mx-1 p-1 flex justify-between">
            <div>
              <span>Sessions</span>
              <h1 class="my-1">300 MAD</h1>
            </div>
            <div class="img-wrapper">
              <img src="../assets/images/session.png" alt="">
            </div>
          </div>
          
          <div class="box mx-1 p-1 flex justify-between">
            <div>
              <span>Nombre de seances</span>
              <h1 class="my-1">10</h1>
            </div>
            <div class="img-wrapper">
              <img src="../assets/images/task.png" alt="">
            </div>
          </div>
          
          <div class="box mx-1 p-1 flex justify-between">
            <div>
              <span>Balance</span>
              <h1 class="my-1">3000 MAD</h1>
            </div>
            <div class="img-wrapper">
              <img src="../assets/images/balance.png" alt="">
            </div>
          </div>
</div>
        <div class="m-gap flex justify-between align-center md-flex-col">
          <div class="bg-box mx-1 p-1">
            <span>mes sessions</span>
          </div>
          <div class="bg-box mx-1 p-1">
            <span>Les patientes</span>
            <h1 class="my-1">47</h1>
          </div>
        </div>
      </section>
</body>
</html>