<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/welcome.css" />
    <title>Amane</title>
  </head>
  <body>
    <div class="welcome-page">
      <nav class="flex justify-between align-center w-screen px-2">
        <div class="avatar-container">
          <img src="../assets/Logo.png" alt="amane logo" />
        </div>
        <ul class="flex justify-between align-center menu">
          <li class="p-1 mx-1"><a href="">Accueil</a></li>
          <li class="p-1 mx-1"><a href="">A propos</a></li>
          <li class="p-1 mx-1"><a href="">FAQ</a></li>
          <li class="p-1 mx-1"><a href="">Testimonial</a></li>
          <li class="p-1 mx-1"><a href="">Praticien</a></li>
          <li class="p-1 mx-1"><a href="">Support</a></li>
          <li class="p-1 mx-1"><button class="main-btn">Login</button></li>
          <li class="p-1 mx-1"><button class="main-btn">Sign up</button></li>
        </ul>
      </nav>

<!-- ------------------------------------ HERO SECTION ---------------------------------- -->

      <header class="hero w-screen h-screen">
        <div class="container center">
          <div class="content">
            <h1>You deserve to be happy.</h1>
            <p>What type of therapy are you looking for?</p>
            <button class="main-btn">Thérapie individuelle</button>
            <button class="main-btn">Thérapie de couple</button>
            <button class="main-btn">Thérapie >br des enfants</button>
            <button class="main-btn">Thérapie >br des etudiant</button>
          </div>
        </div>
      </header>
    </div>
  </body>
</html>
