<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/uLogin.css">
    <link rel="stylesheet" href="../../css/welcome.css">
    <link rel="stylesheet" href="../../css/questionnaire.css">
<!-- ------------------------------------    UNICONS CDN --------------------------- -->
<link
rel="stylesheet"
href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
/>
    <title>Login</title>
</head>
<body>
    <nav class="flex justify-between align-center nav-scrolled">
        <div class="avatar-container">
              <img src="../../assets/Logo.png" alt="amane logo" />
            </div>
            <div class="flex align-center mb-flex-rev">
              <i class="uil uil-apps hidden" id="menu"></i>
              <ul class="navigation p-1">
                <a href="#"
                  ><li class="p-1 mx-2">
                    <div class="hidden"><i class="icon uil uil-estate"></i></div>
                    Accueil
                  </li></a
                >
                <a href="#">
                  <li class="p-1 mx-2">
                    <div class="hidden">
                      <i class="icon uil uil-info-circle"></i>
                    </div>
                    A propos
                  </li></a
                >
    
                <a href="#"
                  ><li class="p-1 mx-2">
                    <div class="hidden">
                      <i class="icon uil uil-comment-question"></i>
                    </div>
                    FAQ
                  </li></a
                >
    
                <a href="#"
                  ><li class="p-1 mx-2">
                    <div class="hidden">
                      <i class="icon uil uil-comment-alt-heart"></i>
                    </div>
                    Testimonial
                  </li></a
                >
                <a href="#"
                  ><li class="p-1 mx-2">
                    <div class="hidden">
                      <i class="icon uil uil-headphones"></i>
                    </div>
                    Support
                  </li></a
                >
              </ul>
              <button class="main-btn">commacer</button>
            </div>
          </nav>
    <main class="login-page">
        <section class="left-section">
            <h1>Psychologue pour enfant,pour adults ou therapie de couple, trouvez celui qui convient</h1>
            <p>over 1000 courses taught by real creatives</p>
        </section>

        <!-- ---------------------RIGHT SECTION ----------------------------- -->
        <!-- flex-col align-center justify center -->
        <section class="right-section">
        <div class="form-container flex-col align-center">
            <div class="avatar-container">
                <img src="../../assets/Logo.png" alt="amane logo">
            </div>
            <h1>Register</h1>
            <p>merci de remplir ces champs avec vos informations</p>
            
            <form action="">
              <!-- ====================================== FORM one ====================================== -->
              <div class="questionnaire-container">
                  <div class="questionnaire py-2">
                    <h1>Questionnaire</h1>

                    <h3>Quel est ton genre?</h3>
                    <input type="radio" name="q1" id="q1a1"><label for="q1a1">Homme</label><br>
                    <input type="radio" name="q1" id="q1a2"><label for="q1a2">Femme</label>

                    <h3>Quel age as-tu?</h3>
                    <input type="text" name="q2" id="q2" placeholder="l'age">
                    
                    <h3>avez-vous deja ete en therapie auparavant</h3>
                    <input type="radio" name="q3" id="q3a1"><label for="q3a1">Oui</label><br>
                    <input type="radio" name="q3" id="q3a2"><label for="q3a2">No</label>

                    <h3>vous considerez-vous comme religieux</h3>
                    <input type="radio" name="q4" id="q4a1"><label for="q4a1">Oui</label><br>
                    <input type="radio" name="q4" id="q4a2"><label for="q4a2">No</label><br>
                    <input type="radio" name="q4" id="q4a3"><label for="q4a3">je prefere ne pas dire</label>

                    <h3>qu'est-ce qui vous a amene a envisager une theraoie aujourd'hui</h3>
                    <input type="checkbox" name="q5a1" id="q5a1"><label for="q5a1">je me sent déprimé</label><br>
                    <input type="checkbox" name="q5a2" id="q5a2"><label for="q5a2">je me sens anxieux ou dépassé</label><br>
                    <input type="checkbox" name="q5a3" id="q5a3"><label for="q5a3">mon humeur interfère avec mes performances professionnelles /scolaires</label><br>
                    <input type="checkbox" name="q5a4" id="q5a4"><label for="q5a4">j’ai du mal à établir ou à maintenir des relations</label><br>
                    <input type="checkbox" name="q5a5" id="q5a5"><label for="q5a5">je suis en deuil</label><br>
                    <input type="checkbox" name="q5a6" id="q5a6"><label for="q5a6">j’ai vécu un traumatisme</label><br>
                    <input type="checkbox" name="q5a7" id="q5a7"><label for="q5a7"> J’ai besoin de parler d’un défi spécifique</label><br>
                    <input type="checkbox" name="q5a8" id="q5a8"><label for="q5a8">  je veux prendre confiance en moi</label><br>
                    <input type="checkbox" name="q5a9" id="q5a9"><label for="q5a9">  je veux m’améliorer mais je ne sais pas par où commencer</label><br>
                    <input type="checkbox" name="q5a10" id="q5a10"><label for="q5a10">je viens d’explorer</label><br>
                    <input type="checkbox" name="q5a11" id="q5a11"><label for="q5a11">autre</label>

                    <h3>Votre status de relation</h3>
                    <input type="radio" name="q6" id="q6a1"><label for="q6a1">seul</label><br>
                    <input type="radio" name="q6" id="q6a2"><label for="q6a2">en couple</label><br>
                    <input type="radio" name="q6" id="q6a3"><label for="q6a3">marie</label><br>
                    <input type="radio" name="q6" id="q6a4"><label for="q6a4">veuve</label><br>
                    <input type="radio" name="q6" id="q6a5"><label for="q6a5">je prefere ne pas dire</label><br>
                    <input type="radio" name="q6" id="q6a6"><label for="q6a6">autre</label>
                    
                    <h3>quelles sont vos attentes vis-à-vis de votre thérapeute? Un thérapeute qui….</h3>
                    <input type="checkbox" name="q7a1" id="q7a1"><label for="q7a1">Écoute</label><br>
                    <input type="checkbox" name="q7a1" id="q7a1"><label for="q7a1">explore mon passé</label><br>
                    <input type="checkbox" name="q7a1" id="q7a1"><label for="q7a1">m’apprend des nouvelles compétences</label><br>
                    <input type="checkbox" name="q7a1" id="q7a1"><label for="q7a1">m’apprend des nouvelles compétences</label><br>
                    <input type="checkbox" name="q7a1" id="q7a1"><label for="q7a1">défi mes croyances
                    </label><br>
                    <input type="checkbox" name="q7a1" id="q7a1"><label for="q7a1">défi mes croyances
                    </label><br>
                    <input type="checkbox" name="q7a1" id="q7a1"><label for="q7a1"> m’assigne des devoirs
                    </label><br>
                    <input type="checkbox" name="q7a1" id="q7a1"><label for="q7a1"> m’assigne des devoirs me guide pour fixer des objectifs
                    </label><br>
                    <input type="checkbox" name="q7a1" id="q7a1"><label for="q7a1">communiquer de manière proactif avec moi
                    </label><br>
                    <input type="checkbox" name="q7a1" id="q7a1"><label for="q7a1">je ne sais pas
                    </label><br>
                    <input type="checkbox" name="q7a1" id="q7a1"><label for="q7a1">autre
                    </label>

                    <h3>8)-l’âge du praticien :</h3>
                    <input type="radio" name="q8" id="q8a1"><label for="q8a1">24-30</label><br>
                    <input type="radio" name="q8" id="q8a1"><label for="q8a1">30-40</label><br>
                    <input type="radio" name="q8" id="q8a1"><label for="q8a1">40-50</label><br>
                    <input type="radio" name="q8" id="q8a1"><label for="q8a1">50 ou plus</label>

                    <h3>sex du praticien</h3>
                    <input type="radio" name="q9" id="q9a1"><label for="q1a1">Homme</label><br>
                    <input type="radio" name="q9" id="q9a2"><label for="q1a2">Femme</label>

                    <h3>comment évoluer-vous votre état de santé physique actuelle</h3>
                    <input type="radio" name="q9" id="q9a1"><label for="q1a1">Bien</label><br>
                    <input type="radio" name="q9" id="q9a2"><label for="q1a2">équitable</label><br>
                    <input type="radio" name="q9" id="q9a3"><label for="q9a3">faible</label>

                    <h1>Information personnel</h1>
                    <label for="name">le nom complet</label><br>
                    <input type="text" name="name" id="name" placeholder="entrer votre nom"><br>
                    <label for="name">email adress</label><br>
                    <input type="email" name="email" id="email" placeholder="entrer votre email"><br>
                    <label for="name">password</label><br>
                    <input type="password" name="password" id="password" placeholder="entrer votre password">
                  </div>
              </div>
              <button class="main-btn">s'inscrire</button>
            </form>
        </div>    
        </section>
    </main>
    <script src="../../js/main.js"></script>
</body>
</html>
