<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/thrLogin.css">
    <title>therapist Login</title>
</head>
<body>
    <div class="therapist-login w-screen h-screen center">
            <div class="form-container flex-col align-center justify-center m-2 p-2">
                <div class="avatar-container my-2">
                    <img src="../../assets/Logo.png" alt="Logo">
                </div>
                <h1>sign up</h1>
                <p class="my-1">Finally, please provide your name, email address, and the primary state you're licensed in.</p>
                <form class="m-2 flex-col align-center">
                    
                </form>
            </div>    
            <p class="termes">j'ai deja un compte ?<a href="./thLogin.html"><strong>se connecter</strong></a></p>
    </div>
</body>
</html>
<!-- <label for="email">Email</label>
                    <input class="main-input" type="email" id="email" name="email" placeholder="entrer votre email">
                    <label for="password">Password</label>
                    <input class="main-input" type="password" id="password" name="password" placeholder="entrer votre password">
                    <button class="main-btn main-btn-stretched">Se connecter</button> -->