<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/uLogin.css">
    <link rel="stylesheet" href="../../css/welcome.css" />
<!-- ------------------------------------    UNICONS CDN --------------------------- -->
<link
rel="stylesheet"
href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
/>
    <title>Login</title>
</head>
<body>
    <nav class="flex justify-between align-center p-1 px-2 nav-scrolled">
    <div class="avatar-container">
          <img src="../assets/Logo.png" alt="amane logo" />
        </div>
        <div class="flex align-center mb-flex-rev">
          <i class="uil uil-apps hidden" id="menu"></i>
          <ul class="navigation p-1">
            <a href="#"
              ><li class="p-1 mx-2">
                <div class="hidden"><i class="icon uil uil-estate"></i></div>
                Accueil
              </li></a
            >
            <a href="#">
              <li class="p-1 mx-2">
                <div class="hidden">
                  <i class="icon uil uil-info-circle"></i>
                </div>
                A propos
              </li></a
            >

            <a href="#"
              ><li class="p-1 mx-2">
                <div class="hidden">
                  <i class="icon uil uil-comment-question"></i>
                </div>
                FAQ
              </li></a
            >

            <a href="#"
              ><li class="p-1 mx-2">
                <div class="hidden">
                  <i class="icon uil uil-comment-alt-heart"></i>
                </div>
                Testimonial
              </li></a
            >
            <a href="#"
              ><li class="p-1 mx-2">
                <div class="hidden">
                  <i class="icon uil uil-headphones"></i>
                </div>
                Support
              </li></a
            >
          </ul>
          <button class="main-btn">commacer</button>
        </div>
      </nav>

    <main class="login-page">
        
        <section class="left-section">
            <h1>Psychologue pour enfant,pour adults ou therapie de couple, trouvez celui qui convient</h1>
            <p>over 1000 courses taught by real creatives</p>
        </section>

        <!-- ---------------------RIGHT SECTION ----------------------------- -->

        <section class="right-section">
        <div class="form-container flex-col align-center">
            <div class="avatar-container">
                <img src="../../assets/Logo.png" alt="amane logo">
            </div>
            <h1>login</h1>
            <p><a href="">Mot de passe oublié ?</a></p>
            <form action="">
                <label for="email">Email</label>
                <input class="main-input" type="email" id="email" name="email" placeholder="entrer votre email">
                <label for="password">Password</label>
                <input class="main-input" type="password" id="password" name="password" placeholder="entrer votre password">
                <button class="main-btn-stretched">Se connecter</button>
            </form>
            <p class="termes">Vous n'avez pas un compte? <strong><a href="./uSignUp.html">s'inscrire</a></strong></p>
        <div id="test"></div>
        </div>    
        </section>
    </main>
</body>
</html>