<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/uLogin.css">
    <link rel="stylesheet" href="../../css/welcome.css" />
<!-- ------------------------------------    UNICONS CDN --------------------------- -->
<link
rel="stylesheet"
href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
/>
    <title>Login</title>
</head>
<body>
    <nav class="flex justify-between align-center nav-scrolled">
        <div class="avatar-container">
              <img src="../../assets/Logo.png" alt="amane logo" />
            </div>
            <div class="flex align-center mb-flex-rev">
              <i class="uil uil-apps hidden" id="menu"></i>
              <ul class="navigation p-1">
                <a href="#"
                  ><li class="p-1 mx-2">
                    <div class="hidden"><i class="icon uil uil-estate"></i></div>
                    Accueil
                  </li></a
                >
                <a href="#">
                  <li class="p-1 mx-2">
                    <div class="hidden">
                      <i class="icon uil uil-info-circle"></i>
                    </div>
                    A propos
                  </li></a
                >
    
                <a href="#"
                  ><li class="p-1 mx-2">
                    <div class="hidden">
                      <i class="icon uil uil-comment-question"></i>
                    </div>
                    FAQ
                  </li></a
                >
    
                <a href="#"
                  ><li class="p-1 mx-2">
                    <div class="hidden">
                      <i class="icon uil uil-comment-alt-heart"></i>
                    </div>
                    Testimonial
                  </li></a
                >
                <a href="#"
                  ><li class="p-1 mx-2">
                    <div class="hidden">
                      <i class="icon uil uil-headphones"></i>
                    </div>
                    Support
                  </li></a
                >
              </ul>
              <button class="main-btn">commacer</button>
            </div>
          </nav>
    
    <main class="login-page">
        <section class="left-section">
            <h1>Psychologue pour enfant,pour adults ou therapie de couple, trouvez celui qui convient</h1>
            <p>over 1000 courses taught by real creatives</p>
        </section>

        <!-- ---------------------RIGHT SECTION ----------------------------- -->
        <!-- flex-col align-center justify center -->
        <section class="right-section sp-nav">
        <div class="form-container flex-col align-center justify">
            <div class="avatar-container">
                <img src="../../assets/Logo.png" alt="amane logo">
            </div>
            <h1>sign up</h1>
            <p class="m-1">please fill us with these following infomation ?</p>
            <form action="">
                <label for="email">le nom complet</label>
                <input class="main-input my-1" type="text" id="nom" name="nom" placeholder="entrer votre nom">
                <label for="email">Email</label>
                <input class="main-input my-1" type="email" id="email" name="email" placeholder="entrer votre email">
                <label for="email">numero de tele</label>
                <input class="main-input my-1" type="text" id="phone" name="phone" placeholder="entrer votre numero">
                <label for="password">Password</label>
                <input class="main-input my-1" type="password" id="password" name="password" placeholder="entrer votre password">
                <button class="main-btn-stretched">Se connecter</button>
            </form>
            <p class="termes">j'ai deja un compte ?<a href="./uLogin.html"><strong>se connecter</strong></a></p>
        
        </div>    
        </section>
    </main>
    <script src="../../js/main.js"></script>
</body>
</html>